<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <h1>Recipe Book</h1>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <div id="content">
            {%block content %}{% endblock %}
        </div>
    </body>
</html>
