{% extends 'base.html' %}
{% block title %} Recipe Book {% endblock %}
{% block content %}
    <h1>Create Recipe</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button type="submit" name="create_recipe">Create Recipe</button>
    </form>

    <h1>Add Ingredient</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ingredient_form.as_p }}
        <button type="submit" name="create_ingredient">Create Ingredient</button>
    </form>

    <h1>Add Ingredient Details</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ recipe_ingredient_form.as_p }}
        <button type="submit" name="create_recipe_ingredient">Add RecipeIngredient</button>
    </form>
    <p><a href="{% url 'recipe-list' %}">Return to Recipe List</a></p>
{% endblock %}
